@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .flat-button {
    @apply p-3 rounded-xl bg-button border border-button hover:bg-button/75 hover:border-button/75 font-sans font-light text-center w-full;
  }
  .outlined-button {
    @apply p-3 rounded-xl border-white border font-sans hover:bg-white/20 font-light text-center w-full;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
